{
  "prod": {
    "WORKDAY_REST_BASE_URL": "https://api.us.wcp.workday.com",
    "WORKDAY_TOKEN_URL": "https://<your-tenant-token-endpoint>",
    "WORKDAY_CLIENT_ID": "<client-id>",
    "WORKDAY_CLIENT_SECRET": "<client-secret>",
    "WORKDAY_REFRESH_TOKEN": "<refresh-token>",
    "WORKDAY_SOAP_ENDPOINT_URL": "https://api.us.wcp.workday.com/soap/v46.0/<Service_Name>",
    "WORKDAY_SOAP_BEARER_TOKEN": "",
    "WORKDAY_CUSTOM_OBJECT_DEFINITION_ID": "",
    "WORKDAY_INSTITUTION_ACADEMIC_UNIT_ID": "",
    "WORKDAY_HISTORICAL_ACADEMIC_RECORD_WID": "",
    "WORKDAY_STUDENT_RECRUITMENT_WID": ""
  },
  "prod_rest": {
    "WORKDAY_REST_BASE_URL": "https://<cluster>/ccx/api/v1/<tenant>/",
    "WORKDAY_TOKEN_URL": "https://<your-tenant-token-endpoint>",
    "WORKDAY_CLIENT_ID": "<client-id>",
    "WORKDAY_CLIENT_SECRET": "<client-secret>",
    "WORKDAY_REFRESH_TOKEN": "<refresh-token>",
    "WORKDAY_CUSTOM_OBJECT_DEFINITION_ID": ""
  },
  "prod_soap": {
    "WORKDAY_TOKEN_URL": "https://<your-tenant-token-endpoint>",
    "WORKDAY_CLIENT_ID": "<client-id>",
    "WORKDAY_CLIENT_SECRET": "<client-secret>",
    "WORKDAY_REFRESH_TOKEN": "<refresh-token>",
    "WORKDAY_SOAP_ENDPOINT_URL": "https://<cluster>/ccx/service/<tenant>/<Service>/v46.0",
    "WORKDAY_STUDENT_RECRUITMENT_WID": ""
  },
  "sandbox": {
    "WORKDAY_REST_BASE_URL": "https://api.us.wcp.workday.com",
    "WORKDAY_TOKEN_URL": "https://<your-sandbox-tenant-token-endpoint>",
    "WORKDAY_CLIENT_ID": "<client-id>",
    "WORKDAY_CLIENT_SECRET": "<client-secret>",
    "WORKDAY_REFRESH_TOKEN": "<refresh-token>",
    "WORKDAY_SOAP_ENDPOINT_URL": "https://api.us.wcp.workday.com/soap/v46.0/<Service_Name>",
    "WORKDAY_SOAP_BEARER_TOKEN": "",
    "WORKDAY_CUSTOM_OBJECT_DEFINITION_ID": "",
    "WORKDAY_INSTITUTION_ACADEMIC_UNIT_ID": "",
    "WORKDAY_HISTORICAL_ACADEMIC_RECORD_WID": "",
    "WORKDAY_STUDENT_RECRUITMENT_WID": ""
  },
  "sandbox_rest": {
    "WORKDAY_REST_BASE_URL": "https://<impl-cluster>/ccx/api/v1/<tenant>/",
    "WORKDAY_TOKEN_URL": "https://<your-sandbox-tenant-token-endpoint>",
    "WORKDAY_CLIENT_ID": "<client-id>",
    "WORKDAY_CLIENT_SECRET": "<client-secret>",
    "WORKDAY_REFRESH_TOKEN": "<refresh-token>",
    "WORKDAY_CUSTOM_OBJECT_DEFINITION_ID": ""
  },
  "sandbox_soap": {
    "WORKDAY_TOKEN_URL": "https://<your-sandbox-tenant-token-endpoint>",
    "WORKDAY_CLIENT_ID": "<client-id>",
    "WORKDAY_CLIENT_SECRET": "<client-secret>",
    "WORKDAY_REFRESH_TOKEN": "<refresh-token>",
    "WORKDAY_SOAP_ENDPOINT_URL": "https://<impl-cluster>/ccx/service/<tenant>/<Service>/v46.0",
    "WORKDAY_HISTORICAL_ACADEMIC_RECORD_WID": "",
    "WORKDAY_STUDENT_RECRUITMENT_WID": ""
  },
  "preview": {
    "WORKDAY_REST_BASE_URL": "https://api.us.wcp.workday.com",
    "WORKDAY_TOKEN_URL": "https://<your-preview-tenant-token-endpoint>",
    "WORKDAY_CLIENT_ID": "<client-id>",
    "WORKDAY_CLIENT_SECRET": "<client-secret>",
    "WORKDAY_REFRESH_TOKEN": "<refresh-token>",
    "WORKDAY_SOAP_ENDPOINT_URL": "https://api.us.wcp.workday.com/soap/v46.0/<Service_Name>",
    "WORKDAY_SOAP_BEARER_TOKEN": "",
    "WORKDAY_CUSTOM_OBJECT_DEFINITION_ID": "",
    "WORKDAY_INSTITUTION_ACADEMIC_UNIT_ID": "",
    "WORKDAY_HISTORICAL_ACADEMIC_RECORD_WID": "",
    "WORKDAY_STUDENT_RECRUITMENT_WID": ""
  }
}
